In [46]:
import pandas as pd
import numpy as np

In [47]:
file_path="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DA0101EN-SkillsNetwork/labs/Data%20files/auto.csv"

In [48]:
headers = ["symboling","normalized-losses","make","fuel-type","aspiration", "num-of-doors","body-style", "drive-wheels" "engine-location","wheel-base", "length","width","height","curb-weight","engine-type", "num-of-cylinders", "engine-size" "fuel-system","bore","stroke","compression-ratio","horsepower", "peak-rpm","city-mpg","highway-mpg","price"]
df = pd.read_csv(file_path, names=headers)

In [49]:
df.head(10)

         symboling normalized-losses   make fuel-type   aspiration  \
3 ?    alfa-romero               gas    std       two  convertible
  ?    alfa-romero               gas    std       two  convertible
1 ?    alfa-romero               gas    std       two    hatchback
2 164         audi               gas    std      four        sedan
  164         audi               gas    std      four        sedan
  ?           audi               gas    std       two        sedan
1 158         audi               gas    std      four        sedan
  ?           audi               gas    std      four        wagon
  158         audi               gas  turbo      four        sedan
0 ?           audi               gas  turbo       two    hatchback

      num-of-doors body-style  drive-wheelsengine-location  wheel-base  \
3 ?            rwd      front                         88.6       168.8
  ?            rwd      front                         88.6       168.8
1 ?            rwd      front                         94.5       171.2
2 164          fwd      front                         99.8       176.6
  164          4wd      front                         99.4       176.6
  ?            fwd      front                         99.8       177.3
1 158          fwd      front                        105.8       192.7
  ?            fwd      front                        105.8       192.7
  158          fwd      front                        105.8       192.7
0 ?            4wd      front                         99.5       178.2

       length  ...  num-of-cylinders  engine-sizefuel-system  bore stroke  \
3 ?      64.1  ...               130                    mpfi  3.47   2.68
  ?      64.1  ...               130                    mpfi  3.47   2.68
1 ?      65.5  ...               152                    mpfi  2.68   3.47
2 164    66.2  ...               109                    mpfi  3.19   3.40
  164    66.4  ...               136                    mpfi  3.19   3.40
  ?      66.3  ...               136                    mpfi  3.19   3.40
1 158    71.4  ...               136                    mpfi  3.19   3.40
  ?      71.4  ...               136                    mpfi  3.19   3.40
  158    71.4  ...               131                    mpfi  3.13   3.40
0 ?      67.9  ...               131                    mpfi  3.13   3.40

       compression-ratio horsepower peak-rpm city-mpg  highway-mpg  price
3 ?                  9.0        111     5000       21           27  13495
  ?                  9.0        111     5000       21           27  16500
1 ?                  9.0        154     5000       19           26  16500
2 164               10.0        102     5500       24           30  13950
  164                8.0        115     5500       18           22  17450
  ?                  8.5        110     5500       19           25  15250
1 158                8.5        110     5500       19           25  17710
  ?                  8.5        110     5500       19           25  18920
  158                8.3        140     5500       17           20  23875
0 ?                  7.0        160     5500       16           22      ?

[10 rows x 24 columns]

In [50]:
# converting city-mpg to city-L/100km
df['city-mpg'] = 235/df['city-mpg']

In [51]:
df.head()

         symboling normalized-losses make fuel-type   aspiration num-of-doors  \
3 ?    alfa-romero               gas  std       two  convertible          rwd
  ?    alfa-romero               gas  std       two  convertible          rwd
1 ?    alfa-romero               gas  std       two    hatchback          rwd
2 164         audi               gas  std      four        sedan          fwd
  164         audi               gas  std      four        sedan          4wd

      body-style  drive-wheelsengine-location  wheel-base  length  ...  \
3 ?        front                         88.6       168.8    64.1  ...
  ?        front                         88.6       168.8    64.1  ...
1 ?        front                         94.5       171.2    65.5  ...
2 164      front                         99.8       176.6    66.2  ...
  164      front                         99.4       176.6    66.4  ...

       num-of-cylinders  engine-sizefuel-system  bore stroke  \
3 ?                 130                    mpfi  3.47   2.68
  ?                 130                    mpfi  3.47   2.68
1 ?                 152                    mpfi  2.68   3.47
2 164               109                    mpfi  3.19   3.40
  164               136                    mpfi  3.19   3.40

       compression-ratio horsepower peak-rpm   city-mpg  highway-mpg  price
3 ?                  9.0        111     5000  11.190476           27  13495
  ?                  9.0        111     5000  11.190476           27  16500
1 ?                  9.0        154     5000  12.368421           26  16500
2 164               10.0        102     5500   9.791667           30  13950
  164                8.0        115     5500  13.055556           22  17450

[5 rows x 24 columns]

In [52]:
df.rename(columns={'city-mpg': 'city-L/100km'}, inplace=True)

In [53]:
df.head()

         symboling normalized-losses make fuel-type   aspiration num-of-doors  \
3 ?    alfa-romero               gas  std       two  convertible          rwd
  ?    alfa-romero               gas  std       two  convertible          rwd
1 ?    alfa-romero               gas  std       two    hatchback          rwd
2 164         audi               gas  std      four        sedan          fwd
  164         audi               gas  std      four        sedan          4wd

      body-style  drive-wheelsengine-location  wheel-base  length  ...  \
3 ?        front                         88.6       168.8    64.1  ...
  ?        front                         88.6       168.8    64.1  ...
1 ?        front                         94.5       171.2    65.5  ...
2 164      front                         99.8       176.6    66.2  ...
  164      front                         99.4       176.6    66.4  ...

       num-of-cylinders  engine-sizefuel-system  bore stroke  \
3 ?                 130                    mpfi  3.47   2.68
  ?                 130                    mpfi  3.47   2.68
1 ?                 152                    mpfi  2.68   3.47
2 164               109                    mpfi  3.19   3.40
  164               136                    mpfi  3.19   3.40

       compression-ratio horsepower peak-rpm city-L/100km  highway-mpg  price
3 ?                  9.0        111     5000    11.190476           27  13495
  ?                  9.0        111     5000    11.190476           27  16500
1 ?                  9.0        154     5000    12.368421           26  16500
2 164               10.0        102     5500     9.791667           30  13950
  164                8.0        115     5500    13.055556           22  17450

[5 rows x 24 columns]

In [54]:
df.dtypes

symboling                       object
normalized-losses               object
make                            object
fuel-type                       object
aspiration                      object
num-of-doors                    object
body-style                      object
drive-wheelsengine-location    float64
wheel-base                     float64
length                         float64
width                          float64
height                           int64
curb-weight                     object
engine-type                     object
num-of-cylinders                 int64
engine-sizefuel-system          object
bore                            object
stroke                          object
compression-ratio              float64
horsepower                      object
peak-rpm                        object
city-L/100km                   float64
highway-mpg                      int64
price                           object
dtype: object

In [55]:
df.replace("?", np.nan, inplace=True)

In [56]:
# Evaluating for missing values using two methods:
# 1 .isnull()
# 2 .isnotnull()
missing_data = df.isnull()
missing_data.head(10)

       symboling  normalized-losses   make  fuel-type  aspiration  \
3 ?        False              False  False      False       False
  ?        False              False  False      False       False
1 ?        False              False  False      False       False
2 164      False              False  False      False       False
  164      False              False  False      False       False
  ?        False              False  False      False       False
1 158      False              False  False      False       False
  ?        False              False  False      False       False
  158      False              False  False      False       False
0 ?        False              False  False      False       False

       num-of-doors  body-style  drive-wheelsengine-location  wheel-base  \
3 ?           False       False                        False       False
  ?           False       False                        False       False
1 ?           False       False                        False       False
2 164         False       False                        False       False
  164         False       False                        False       False
  ?           False       False                        False       False
1 158         False       False                        False       False
  ?           False       False                        False       False
  158         False       False                        False       False
0 ?           False       False                        False       False

       length  ...  num-of-cylinders  engine-sizefuel-system   bore  stroke  \
3 ?     False  ...             False                   False  False   False
  ?     False  ...             False                   False  False   False
1 ?     False  ...             False                   False  False   False
2 164   False  ...             False                   False  False   False
  164   False  ...             False                   False  False   False
  ?     False  ...             False                   False  False   False
1 158   False  ...             False                   False  False   False
  ?     False  ...             False                   False  False   False
  158   False  ...             False                   False  False   False
0 ?     False  ...             False                   False  False   False

       compression-ratio  horsepower  peak-rpm  city-L/100km  highway-mpg  \
3 ?                False       False     False         False        False
  ?                False       False     False         False        False
1 ?                False       False     False         False        False
2 164              False       False     False         False        False
  164              False       False     False         False        False
  ?                False       False     False         False        False
1 158              False       False     False         False        False
  ?                False       False     False         False        False
  158              False       False     False         False        False
0 ?                False       False     False         False        False

       price
3 ?    False
  ?    False
1 ?    False
2 164  False
  164  False
  ?    False
1 158  False
  ?    False
  158  False
0 ?     True

[10 rows x 24 columns]

In [57]:
# Count the number of missing values
for column in missing_data.columns.values.tolist():
    print(column)
    print (missing_data[column].value_counts())
    print("")

symboling
symboling
False    205
Name: count, dtype: int64

normalized-losses
normalized-losses
False    205
Name: count, dtype: int64

make
make
False    205
Name: count, dtype: int64

fuel-type
fuel-type
False    203
True       2
Name: count, dtype: int64

aspiration
aspiration
False    205
Name: count, dtype: int64

num-of-doors
num-of-doors
False    205
Name: count, dtype: int64

body-style
body-style
False    205
Name: count, dtype: int64

drive-wheelsengine-location
drive-wheelsengine-location
False    205
Name: count, dtype: int64

wheel-base
wheel-base
False    205
Name: count, dtype: int64

length
length
False    205
Name: count, dtype: int64

width
width
False    205
Name: count, dtype: int64

height
height
False    205
Name: count, dtype: int64

curb-weight
curb-weight
False    205
Name: count, dtype: int64

engine-type
engine-type
False    205
Name: count, dtype: int64

num-of-cylinders
num-of-cylinders
False    205
Name: count, dtype: int64

engine-sizefuel-system
engine-sizefuel-system
False    205
Name: count, dtype: int64

bore
bore
False    201
True       4
Name: count, dtype: int64

stroke
stroke
False    201
True       4
Name: count, dtype: int64

compression-ratio
compression-ratio
False    205
Name: count, dtype: int64

horsepower
horsepower
False    203
True       2
Name: count, dtype: int64

peak-rpm
peak-rpm
False    203
True       2
Name: count, dtype: int64

city-L/100km
city-L/100km
False    205
Name: count, dtype: int64

highway-mpg
highway-mpg
False    205
Name: count, dtype: int64

price
price
False    201
True       4
Name: count, dtype: int64

In [58]:
df['price'] = df['price'].astype('float')

In [59]:
df['price'].dtype

dtype('float64')

In [60]:
# Or
df.dtypes

symboling                       object
normalized-losses               object
make                            object
fuel-type                       object
aspiration                      object
num-of-doors                    object
body-style                      object
drive-wheelsengine-location    float64
wheel-base                     float64
length                         float64
width                          float64
height                           int64
curb-weight                     object
engine-type                     object
num-of-cylinders                 int64
engine-sizefuel-system          object
bore                            object
stroke                          object
compression-ratio              float64
horsepower                      object
peak-rpm                        object
city-L/100km                   float64
highway-mpg                      int64
price                          float64
dtype: object