In [8]:
from mysql.connector import connect

In [9]:
connection = connect(host='localhost', user='root', password='', database="sample_db")

In [10]:
cursor = connection.cursor()

In [11]:
cursor.execute("SELECT * FROM users")

In [12]:
result = cursor.fetchall()

In [13]:
for row in result:
    print(row)

('22amtics235@gmail.com', 'patilmanas', 'patilmanas', 'admin')
('22amtics253@gmail.com', 'sutharjitu', 'sutharjitu', 'admin')
('22amtics350@gmail.com', 'chokhawalayasvi', 'chokhawalayasvi', 'admin')
('22amtics105@gmail.com', 'shahparin', 'shahparin', 'admin')

In [14]:
# Closing the cursor and connection
cursor.close()
connection.close()